.part-background {
    @apply bg-no-repeat;

    background-image: url("images/person-overweight.jpg"),
        url("images/person-fit.jpg");
    
}

.part-1-background {
    background-position: left -35px bottom, right -35px bottom;
    background-size: 130px auto;

    @screen sm {
        background-position: left -50px bottom, right -50px bottom;
        background-size: 160px auto;
    }

    @screen md {
        background-position: left -50px bottom -50px, right -50px bottom -50px;
        background-size: auto;
    }
}

.part-2-background {
    background-size: 0;
    
    @screen md {
        background-position: left -50px bottom -50px, right -50px bottom -50px;
        background-size: auto;
    }
}